.col-md-6 { 
	text-align: right; 
	width: 50 px;
}
p { 
	text-align: right;
    font-size: 20px;
}

h1 {
	text-align: right; 
	font-size: 36px; 
	font-family: 'Playfair Display', 
	serif;
}

.container {
	width: 74%%;
	position: center;
}

h3 {
	text-align: center;
}

hr {
  border: solid #dddddd;
  border-width: 3px 0 0;
  clear: both;
  margin: 1.21em 0 1.1875em;
  height: 0;
}
* { 
	font-family: 'Playfair Display', 
	serif;
}